<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_survey.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <script src="https://unpkg.com/lucide@latest"></script>
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
</head>
<body>

<div class="sidebar">

    <div class="sidebar-header">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Sekolah">
    </div>

    <div class="sidebar-menu">

        <a href="/dashboard"
           class="menu-item {% if active_page == 'dashboard' %}active{% endif %}">
            <img src="{{ url_for('static', filename='img/dashboard.png') }}" class="menu-icon">
            <span>Dashboard</span>
        </a>

        <a href="/survey"
           class="menu-item {% if active_page == 'survey' %}active{% endif %}">
            <img src="{{ url_for('static', filename='img/survey.png') }}" class="menu-icon">
            <span>Survey</span>
        </a>

    </div>
</div>

<!-- HEADER ADMIN -->
<!-- HEADER ADMIN -->
<div class="admin-header">

    <div class="admin-title">
        <div class="admin-main-title">Admin Survey</div>
        <div class="admin-sub-title"><span class="dot"></span>SMP Unggulan Hamzanwadi</div>
    </div>

    <div class="admin-profile">
        <img src="{{ url_for('static', filename='img/profile.png') }}" alt="Profile">
    </div>

</div>

<div class="content">
    {% block content %}{% endblock %}
</div>

<script>
    lucide.createIcons();
</script>

</body>
</html>